body{
    background-color: darkblue;
    color: chartreuse;
    display: flex;
    flex-direction: column;
}
h1{
   text-align: center;
}
/*Social Network Buttons Start*/

.btn {

    background-color: transparent;
    display: inline-flex;
    background-color: transparent;
    align-items: center;
    bottom: 0;
    position: absolute;
}

.btn-Twitch {
    background-image: url(/icons/purple-twitch-logo-png-18.png);
    background-position: center;
    background-size: 40%;
    background-repeat: no-repeat;
    background-color: rgb(118, 18, 212);
    height: 30px;
    width: 80px;
    cursor: pointer;
    color: transparent;
}

.btn-Trovo {
    background-image: url(/icons/trovo.png);
    background-position: center;
    background-size: 40%;
    background-repeat: no-repeat;
    background-color: rgb(9, 3, 14);
    height: 30px;
    width: 80px;
    cursor: pointer;
    color: transparent;
}

.btn-Youtube {
    background-image: url(/icons/youtube.png);
    background-position: center;
    background-size: 80%;
    background-repeat: no-repeat;
    background-color: rgb(249, 248, 250);
    height: 30px;
    width: 80px;
    cursor: pointer;
    color: transparent;
}

.btn-Discord {
    background-image: url(/icons/discord.png);
    background-position: center;
    background-size: 80%;
    background-repeat: no-repeat;
    background-color: RGB(140, 158, 255);
    height: 30px;
    width: 80px;
    cursor: pointer;
    color: transparent;
}

.btn-Linkedin {
    background-image: url(/icons/linkedn.png);
    background-position: center;
    background-size: 80%;
    background-repeat: no-repeat;
    background-color: RGB(39, 151, 207);
    height: 30px;
    width: 80px;
    cursor: pointer;
    color: transparent;
}

/*Social Network Buttons Start*/
/*Curriculum Informations Start*/
.cv-div{
    display: flex;
    flex-direction: row;
}
.profile-div{
    width: 400px;
    height: 450px;
    padding: 10px;
    border: 2px solid white;
    background-color: transparent;
}
.work-div{
    width: 400px;
    height: 500px;
    padding: 10px;
    border: 2px solid white;
    background-color: transparent;
}
p{
color: white;
font-weight: bold;
font-size: 20px;
}
span{
    color: gold;
    animation: span 10s infinite;
}
@keyframes span {
    50%{
        color: white;
    }
}
h2 {
    text-align: center;
    color: gold;
  
}
/*Curriculum Informations End*/
@media (max-width: 600px) {
    .cv-div {
      -webkit-flex-direction: column;
      flex-direction: column;
      }
      .btn{
        position: relative;
      }
      .btn-Discord,.btn-Linkedin,.btn-Trovo,.btn-Twitch,.btn-Youtube{
        width: 100%;
        height: 80%;
      }
      .btn-h2{
        font-size: 15px;
      }
  }