/* Media query to adapt the layout for smartphones */
@media screen and (max-width: 768px) and (orientation: portrait) {
  body {
    position: relative;
    flex-direction: column;
  }
  #head-div {
    height: 30%;
  }
  #page-title {
    width: 100vw;
  }
  #logo {
    width: 40vw;
    top: 35%;
    left: 34%;
  }
  #paragraph-div {
    width: 60vw;
    height: 40vh;
    margin-left: 30%;
    font-size: 13px;
    text-align: left;
    overflow: auto;
  }
   .p-collapse{
    width: 40vw;
   }
  .btn-secondary {
    width: 100px;
  }

  #footer-div {
    position: fixed;
    width: 100%;
    justify-content: space-around;
  }
}

@media screen and (max-width:768px) and (orientation: landscape) {
  body {
    position: relative;
    flex-direction: row;
    height: 500px;
  }

  #head-div {
    width: 100vw;
    height: 65vh;
  }

  #page-title {
    width: 70vw;
    top: 5vw;
  }

  #logo {
    width: 30vw;
    top: 30%;
    left: 37%;
  }

  #paragraph-div {
    width: 70vw;
    height: 70vh;
    margin-left: 10vw;
    margin-top: 6vw;
    font-size: 15px;
  }
  
  .card {
    width: 60vw;

  }

  .btn-group {
    width: 98%;
    top: 25vw;
    flex-direction: row;
    justify-content: space-between;

  }

  .btn-secondary {
    margin-top: 6%;
    width: 100px;
    height: 30px;
    border-radius: 0;

  }

  #footer-div {
    position: fixed;
  }
}
