@media screen and (max-width: 846px) and (orientation: portrait) {
    body {
        background-image: url(/img/background1-small.jpeg);
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
        width: 100%;
    }
    
  
}
@media screen and (max-width:846px) and (orientation: landscape) {
    #btn-nav-div{
        display: flex;
        justify-content: space-around;
        top: 97vh;
    
    }
}
