body {
    position: relative;
    display: flex;
    flex-direction: column;
    background-image: url(/img/pexels-photo-2387793.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    height: 100vh;
    width: 100%;
}

/*Header elements start*/
#head-div {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

}

.moon {
    position: absolute;
    width: 30vw;
    top: 50%;
    left: 70%;
    opacity: 50%;
}

#page-title {
    max-width: 100%;
    width: 60vw;
}


/*curriculum elements start*/
.btn-secondary {
    --bs-btn-hover-color: rgb(0, 168, 243);
    --bs-btn-hover-bg: rgb(42, 37, 37);
    --bs-btn-hover-border-color: rgb(255, 127, 39);
    width: 100px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.5);
    color: rgba(255, 255, 255, 0.7);
    text-shadow: -1px -1px 1px;
    border-radius: 50%;
    margin-bottom: 5%;
}

.btn-secondary:hover {
    box-shadow: 0px 0px 20px white;
}

.btn-group {
    position: absolute;
    top: 40%;
    left: 1%;
    display: flex;
    flex-direction: column;
}

#div-social-icons {
    display: flex;
    position: relative;
    justify-content: space-around;
    bottom: 20px;
}

.twitch-icon {
    border-bottom-right-radius: 50%;
    width: 25px;
    height: 20px;
}

.trovo-icon {
    width: 20px;
    height: 20px;
    border-radius: 30%;
}

.youtube-icon {
    width: 25px;
    height: 15px;
}

.discord-icon {
    border-radius: 45%;
    width: 25px;
    height: 20px;
}

.a-link {
    text-align: center;
}

.card {
    position: absolute;
    left: 30%;
}

li {
    color: white;
}

#contacts-div {
    display: flex;
    justify-content: space-between;

}

/*hiperlink color and hover*/
a {
    color: rgb(0, 168, 243);
}

a:hover {
    color: rgb(255, 127, 39);

}

#paragraph-div {
    position: absolute;
    left: 7%;
    width: 20%;
    height: 50%;
    top: 41%;
    overflow: auto;
}

.card {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    max-width: 70vw;
    word-wrap: break-word;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 0.25rem;
    color: white;
}

.card-body {
    flex: content;
    padding: 1.25rem;
}

::-webkit-scrollbar {
    width: 10px;
}

.collapse {
    display: block;
    visibility: visible;
}

.p-collapse {
    max-width: 100%;
    word-wrap: break-word;
    background-color: transparent;
    color: white;
}

/*curriculum elements end*/

/*contacts start*/
#footer-div {
    position: absolute;
    width: 100vw;
    height: 35px;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;

}

#footer-icons {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.a-footer {
    text-decoration: none;
    color: white;
    width: 130px;
    text-align: center;
    border-radius: 10%;

}

.a-footer:hover {
    color: white;
}

.homepages {
    background-image: url(/icons/homepage.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    width: 150px;
    height: 30px;
    cursor: pointer;
}

.mailto {
    background-image: url(/icons/email.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    cursor: pointer;
    width: 150px;
    height: 30px;
}

.whatsapp {
    background-image: url(/icons/whatsapp.png);
    background-color: transparent;
    cursor: pointer;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 150px;
    height: 30px;
}

.telegram {
    background-image: url(/icons/telegram.png);
    background-color: transparent;
    cursor: pointer;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 150px;
    height: 30px;
}

.phone {
    background-image: url(/icons/phone.png);
    background-color: transparent;
    cursor: pointer;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 150px;
    height: 30px;
}

.linkedin {
    background-image: url(/icons/linkedn.png);
    background-color: transparent;
    cursor: pointer;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 150px;
    height: 30px;
}

/*contacts end*/
