/*body profiles start*/
body {
    background-image: linear-gradient(to bottom right, rgb(0, 168, 243), rgb(255, 127, 39));
    background-attachment: fixed;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#body-cv {
    color: white;
    display: flex;
    flex-direction: column;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
}

#body-profile {
    background: rgb(42, 37, 37);
    color: white;
    font-size: 25px;
}

#body-work-experience {
    background: rgb(42, 37, 37);
    color: white;
    font-size: 25px;
}

#body-key-skills {
    background: rgb(42, 37, 37);
    color: white;
    font-size: 25px;
}

#body-education {
    background: rgb(42, 37, 37);
    color: white;
    font-size: 25px;
}

#body-hobbies {
    flex-direction: column;
    background: rgb(42, 37, 37);
    color: white;
    font-size: 25px;
}

#body-more-about-me {
    background: rgb(42, 37, 37);
    color: white;
    font-size: 25px;
}

/*body profiles end*/
/*curriculum elements start*/
.social-icons {
    width: 30px;
    height: 30px;
    border-radius: 30px;
}
#date-time {
    font-size: 24px;
    color: rgb(0, 168, 243);
    margin-left: auto;
    padding: 15px;
}

.social-icons:hover {
    box-shadow: 0px 0px 20px rgb(255, 127, 39)
}

.btn-secondary {
    --bs-btn-hover-color: rgb(0, 168, 243);
    --bs-btn-hover-bg: rgb(42, 37, 37);
    --bs-btn-hover-border-color: rgb(255, 127, 39);
    width: 100px;
    height: 30px;
    background-color: rgb(44, 37, 37);
    color: rgb(0, 168, 243);

}

.btn-group {
    display: block;
}

/*hiperlink color and hover*/
a {
    color: white;
}

a:hover {
    color: rgb(251, 247, 3);

}

/*curriculum elements end*/
#logo {
    border-radius: 50px;
    animation: logo 5s infinite;
}

@keyframes logo {
    0% {
        box-shadow: 0px 0px 30px rgb(0, 168, 243);
    }

    25% {
        box-shadow: 0px 0px 20px rgb(255, 127, 39);
    }

    50% {
        box-shadow: 0px 0px 30px rgb(0, 168, 243);
    }

    75% {
        box-shadow: 0px 0px 20px rgb(255, 127, 39);
    }

    100% {
        box-shadow: 0px 0px 30px rgb(0, 168, 243);
    }
}

/*contacts start*/
#contacts-div {
    display: flex;
    justify-content: space-around;
}
.mailto {
    background-image: url(/icons/mail.png);
    background-size: cover;
    background-color: transparent;
    cursor: pointer;
    width: 35px;
    height: 35px;
    border-radius: 70%;
}

.mailto:hover,
.whatsapp:hover,
.telegram:hover,
.phone:hover {
    box-shadow: 0px 0px 20px rgb(255, 127, 39);
    ;
}

.mail-text {
    opacity: 0%;
}

.whatsapp {
    background-image: url(/icons/whatsapp.png);
    background-size: cover;
    background-color: transparent;
    cursor: pointer;
    width: 35px;
    height: 35px;
    border-radius: 70%;
}

.telegram {
    background-image: url(/icons/telegram.png);
    background-size: cover;
    background-color: transparent;
    cursor: pointer;
    width: 35px;
    height: 35px;
    border-radius: 70%;
}

.phone {
    background-image: url(/icons/phone.png);
    background-size: cover;
    background-color: transparent;
    cursor: pointer;
    width: 35px;
    height: 35px;
    border-radius: 70%;
}

/*contacts end*/
