#btn-nav-div {
    position: fixed;
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    bottom: 100px;
}

.hidden {
    display: none;
}


.btns-nav {
    align-items: center;
    justify-content: center;
    width: 54px;
    height: 54px;
    cursor: pointer;
    background-repeat: no-repeat;
    border-radius: 50%;
    background-position: center;
    background-size: 54.5px;
}

.btns-nav:hover {
    box-shadow: 0px 0px 20px white;
    transform: scale(1.1);
}

#home-btn {
    background-image: url(/icons/btn-menu-icon.webp);
    z-index: 2;
}

#home-btn-back {
    background-image: url(/icons/btn-home-icon-trasparent.webp);
    position: absolute;
    bottom: 7vh;
    left: 50vw;
    transform: translateX(-50%);
    z-index: 1;
}

#curriculum-btn {
    background-image: url(/icons/btn-cv-icon-trasparent.webp);
    position: absolute;
    left: 46%;
    transform: translateX(-50%);
    z-index: 1;
}

#projects-btn {
    background-image: url(/icons/btn-projects-icon-trasparent.webp);
    position: absolute;
    left: 54%;
    transform: translateX(-50%);
    z-index: 1;
}

@media screen and (max-width: 414px) and (orientation: portrait) {
    #btn-nav-div {
        width: 100vw;
        height: 23px;
        top: 80vh;
    }

    .btns-nav {
        background-size: 55px;
        background-position-x: 0;
        background-repeat: no-repeat;
        width: 55px;
        height: 55px;
    }

    #home-btn,
    #home-btn-back,
    #curriculum-btn,
    #projects-btn {
        width: 40px;
        height: 40px;
        background-size: contain;
        background-position: center;
    }

    #home-btn {
        margin-left: 44vw;
    }

    #home-btn-back {
        left: 86vw;
        top: 2%;
    }

    #curriculum-btn {
        left: 72vw;
        bottom: 4.5vh;
    }

    #projects-btn {
        left: 58vw;
    }

}

@media screen and (max-width: 640px) and (orientation: landscape) {
    #btn-nav-div {
        width: 100vw;
        height: 23px;
        top: 80vh;
    }

    .btns-nav {
        background-size: 55px;
        background-position-x: 0;
        background-repeat: no-repeat;
        width: 55px;
        height: 55px;
    }

    #home-btn,
    #home-btn-back,
    #curriculum-btn,
    #projects-btn {
        width: 40px;
        height: 40px;
        background-size: contain;
        background-position: center;
    }

    #home-btn {
        margin-left: 64.6vw;
        margin-top: 1vh;
    }

    #home-btn-back {
        left: 90vw;
        top: 1vh;
    }

    #curriculum-btn {
        left: 82.3vw;
        bottom: 8vh;
    }

    #projects-btn {
        left: 75vw;
        top: 1vh;
    }


}

@media screen and (min-width:415px) and (max-width: 767px) and (orientation: portrait) {
    #btn-nav-div {
        width: 100vw;
        height: 23px;
        top: 80vh;
    }

    .btns-nav {
        background-size: 55px;
        background-position-x: 0;
        background-repeat: no-repeat;
        width: 55px;
        height: 55px;
    }

    #home-btn,
    #home-btn-back,
    #curriculum-btn,
    #projects-btn {
        width: 40px;
        height: 40px;
        background-size: contain;
        background-position: center;
    }

    #home-btn {
        margin-left: 44vw;
    }

    #home-btn-back {
        left: 81vw;
        top: 2%;
    }

    #curriculum-btn {
        left: 72vw;
        bottom: 4vh;
    }

    #projects-btn {
        left: 67vw;
    }

}

@media screen and (min-width:641px) and (orientation: landscape) {
    #btn-nav-div {
        width: 100vw;
        height: 20vh;
        top: 79vh;
    }

    .btns-nav {
        background-size: 55px;
        background-position-x: 0;
        background-repeat: no-repeat;
        width: 55px;
        height: 55px;
    }

    #home-btn,
    #home-btn-back,
    #curriculum-btn,
    #projects-btn {
        width: 40px;
        height: 40px;
        background-size: contain;
        background-position: center;
    }

    #home-btn {
        position: relative;
        left: 32vw;
        top: 12vh;
    }

    #home-btn-back {
        left: 86vw;
        top: 12vh;
    }

    #curriculum-btn {
        left: 82vw;
        bottom: 10vh;
    }

    #projects-btn {
        left: 78vw;
        top: 12vh;
    }
}
