/* Reset CSS */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --body-bg-color: #07348c;
  --body-font-family: "Playfair Display", Arial, Helvetica, sans-serif;
  --body-color: white;
  --h1-font-size: 2.4rem;
  --h2-font-size: 2rem;
  --h3-font-size: 1.8rem;
  --h4-font-size: 1.6rem;
  --h5-font-size: 1.4rem;
  --h6-font-size: 1.2rem;
  --p-font-size: 1.7rem;
  --label-font-size: 2rem;
  --font-weight: bold;
  --button-font-size: 2rem;
  --bg-color-btn1: #8c0102ff;
  --color-btn1: white;
  --bg-color-btn2: #f1b300ff;
  --color-btn2: black;
  --bg-color-btn3: #052e6eff;
  --color-btn3: white;
  --bg-color-btn4: #027016ff;
  --color-btn4: white;
  --bg-color-btn5: #d6c2a0ff;
  --color-btn5: black;
  --bg-color-btn6: #3999d0ff;
  --color-btn6: white;
  --bg-color-btn7: #674c37ff;
  --bg-linear-gradient: linear-gradient(
    to bottom,
    rgb(0, 0, 0, 1),
    rgb(0, 0, 0, 0.2)
  );
  --bg-color-container: black;
  --bg-color-hamburger: #181449;
  --box-shadow-button: 0px 0px 10px white;
  --border-radius-bigger: 5rem;
  --border-radius-smaller: 2rem;
}

html {
  font-size: 62.5%; /* Sets 1rem to 10px for easier font-size calculations */
}

/* ---IMAGES--- */
img,
picture {
  display: block;
  max-width: 100%; /* Ensures images and pictures resize responsively */
}
/* ---Typography--- */
p {
  padding: 0.6rem;
  line-height: 3rem;
  font-weight: bolder;
}
/* Body Styles */
body {
  background-color: var(--body-bg-color); /* Background color */
  color: var(--body-color); /* Text color */
  font-family: var(--body-font-family); /* Font stack */
  height: 100vh; /* Full viewport height */
  max-height: 100%;
  width: 100vw; /* Full viewport width */
  max-width: 100%;
  overflow-x: hidden; /* Hides horizontal overflow */
}

/* Header Styles */
header {
  display: flex;
  flex-wrap: wrap;
}

.logo {
  width: 20%;
  position: absolute;
}

.hero-image {
  width: 100%;
  height: auto;
}

/* Navbar Styles */
nav {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  padding: 1rem;
}

.navbar-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  gap: 2rem;
}

/* Navbar Button Styles */
.nav-btn {
  width: 9%;
  cursor: pointer;
  font-weight: var(--font-weight);
  font-size: var(--button-font-size);
}

.nav-btn:hover {
  transition: transform 0.6s ease;
  box-shadow: var(--box-shadow-button);
  transform: scale(0.9);
}
.nav-btn.selected {
  animation: btnAnimation 5s infinite ease-in-out;
}

@keyframes btnAnimation {
  0%,
  100% {
    transform: scale(1);
    opacity: 0.5;
  }

  50% {
    transform: scale(1.1);
    opacity: 1;
    box-shadow: 0px 0px 10px white;
    border-radius: var(--border-radius-smaller);
  }
}

/* Navbar Buttons Background */
#home {
  background-color: var(--bg-color-btn1);
  color: var(--color-btn1);
}

#info {
  background-color: var(--bg-color-btn2);
  color: var(--color-btn2);
}

#line-up {
  background-color: var(--bg-color-btn3);
  color: var(--color-btn3);
}

#areas {
  background-color: var(--bg-color-btn4);
  color: var(--color-btn4);
}

#gallery {
  background-color: var(--bg-color-btn5);
  color: var(--color-btn5);
}

#shop {
  background-color: var(--bg-color-btn6);
  color: var(--color-btn6);
}

#news {
  background-color: var(--bg-color-btn7);
  color: var(--color-btn7);
}
#websites {
  background-color: var(--bg-color-container);
  color: var(--body-color);
}

/* Search bar Styles */
.search-container {
  width: 30%;
  margin: 2rem;
}

.search-input {
  width: 70%;
  height: 3rem;
}

.search-container > form > button {
  width: 20%;
  cursor: pointer;
  height: 3rem;
  font-size: var(--h6-font-size);
}

/* Hamburger menu styles */
.hamburger {
  display: none;
  position: absolute;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 4rem;
  height: 4rem;
  background-color: transparent;
  border: none;
  top: 1rem;
  right: 1rem;
  top: -3rem;
  z-index: 1000;
}

.hamburger div {
  width: 80%;
  height: 0.3rem;
  background-color: var(--bg-color-hamburger);
  margin: 0.3rem 0;
}

.hamburger.active div {
  background-color: var(--body-color);
}

/* -----------------------------------------------Header End */

/* -----------------------------------------------Main Start */
main {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.top-section {
  display: flex;
  width: 100%;
  height: auto;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 3rem;
}
/*---------------------------------------Info Festival Start */
.info-festival,
.info-location {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
  height: 40rem;
  margin-bottom: 3rem;
}
.shop-p{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
  height: 80rem;
  margin-bottom: 3rem;
}
.news-p{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
  height: 50rem;
  margin-bottom: 3rem;
}

.info-festival {
  order: 1;
}

.info-location {
  order: 3;
}

.info-festival h2,
.info-location h2 {
  width: 100%;
  text-align: center;
  font-size: var(--h2-font-size);
  font-weight: var(--font-weight);
  background: var(--bg-linear-gradient);
  border-top-left-radius: var(--border-radius-smaller);
  border-top-right-radius: var(--border-radius-smaller);
}

.info-festival p,
.info-location p {
  overflow-y: scroll;
  background: var(--bg-linear-gradient);
  font-size: var(--p-font-size);
}

/* Style for the scrollbar in Webkit browsers */
.info-festival p::-webkit-scrollbar,
.info-location p::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

/* Style for the scrollbar track (background) */
.info-festival p::-webkit-scrollbar-track,
.info-location p::-webkit-scrollbar-track {
  background: var(--bg-linear-gradient);
}

/* Style for the scrollbar thumb (the part that moves) */
.info-festival p::-webkit-scrollbar-thumb,
.info-location p::-webkit-scrollbar-thumb {
  background-color: var(--body-color);
  border-radius: var(--border-radius-smaller);
}

/*-----------------------------------------Info Festival End */
/*------------------------------------------- Carousel Start */
.carousel-container {
  position: relative;
  width: 45%;
  height: 100%;
  background: var(--bg-linear-gradient);
  border-radius: var(--border-radius-bigger);
  order: 2;
}

.carousel-slide {
  display: flex;
}
.carousel-slide img {
  width: 100%;
  height: auto;
  display: none;
  border-radius: var(--border-radius-bigger);
}

.carousel-slide img.active {
  width: 100%;
  height: auto;
  display: block;
  margin-bottom: 3rem;
}

.carousel-navigation {
  position: absolute;
  transform: translateY(-100%);
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.carousel-navigation img {
  cursor: pointer;
}

.prev:hover {
  background-image: url(../icons/carousel-left.active.svg);
}

.next:hover {
  background-image: url(../icons/carousel-right.active.svg);
}

.carousel-navigation button {
  background-color: transparent;
  border: none;
  outline: none;
}

.carousel-bullets {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  border-radius: 1rem;
}

.carousel-bullets .bullet {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  background-color: var(--body-color);
  border-radius: 50%;
  margin: 0 5px;
}

.carousel-bullets .bullet.active {
  background-color: rgba(252, 69, 2, 1);
  transform: scale(1.3);
}
.info-areas{
  width: 100%;
}

/*------------------------------------------- Carousel End */
/*------------------------------------Middle Sections Start*/
.middle-section,.middle-section-news {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5rem;
}

.center-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
}

/*------------------------------------------- Video Start */
.video {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 60rem;
  margin-bottom: 3rem;
}

.video a {
  width: 100%;
  text-align: center;
  font-size: var(--h2-font-size);
  background: var(--bg-linear-gradient);
  border-top-left-radius: var(--border-radius-smaller);
  border-top-right-radius: var(--border-radius-smaller);
  text-decoration: none;
  color: var(--body-color);
  animation: animation-text 3s infinite ease-in-out;
}

@keyframes animation-text {
  0%,
  100% {
    color: var(--body-color);
  }
  33% {
    color: var(--bg-color-btn1);
  }
  66% {
    color: var(--bg-color-btn2);
  }
}

.video iframe {
  width: 100%;
  height: 40rem;
  background: var(--bg-color-container);
}

.video p {
  width: 100%;
  text-align: center;
  background: var(--bg-linear-gradient);
  font-size: var(--h4-font-size);
}

/*--------------------------------------------- Video End */

/*------------------------------------------- -Card Start */
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 3rem;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  border-radius: 2rem;
  background: var(--bg-linear-gradient);
  max-width: 30rem;
  margin-bottom: 3rem;
}

.card img {
  width: 100%;
  border-top-left-radius: var(--border-radius-smaller);
  border-top-right-radius: var(--border-radius-smaller);
}

.info h3 {
  font-size: var(--h3-font-size);
  text-shadow: none;
  padding: 1rem;
}

.info > p {
  background: transparent;
  font-size: var(--p-font-size);
}

.info button {
  background-color: transparent;
  border-radius: var(--border-radius-smaller);
  color: var(--body-color);
  font-weight: var(--font-weight);
  font-size: var(--button-font-size);
  width: 60%;
  height: 4rem;
  margin: 2rem;
}

.info button:hover {
  transform: scale(0.9);
  box-shadow: var(--box-shadow-button);
  border-radius: var(--border-radius-bigger);
}

/*-----------------------------------------------Card End */
/*------------------------------------------History Start */
.history {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: var(--border-radius-smaller);
  margin-bottom: 3rem;
  text-align: center;
  width: 100%;
}
.history img {
  width: 100%;
}

.history h2 {
  width: 100%;
  font-size: var(--h2-font-size);
  border-top-left-radius: var(--border-radius-bigger);
  border-top-right-radius: var(--border-radius-bigger);
  background: var(--bg-linear-gradient);
}

.history p {
  background: var(--bg-linear-gradient);
  font-size: var(--p-font-size);
}

/*--------------------------------------------History End */
/*-------------------------------------------Asides Start */
.aside-left,
.aside-right {
  flex: 1 1 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  padding: 1rem;
}

.aside-left div > a > img,
.aside-right > div > a > img {
  width: 100%;
}
.aside-left div,
.aside-right div {
  margin-bottom: 3rem;
}
.aside-left h2,
.aside-right h2 {
  width: 100%;
  font-size: var(--h2-font-size);
  border-top-left-radius: var(--border-radius-bigger);
  border-top-right-radius: var(--border-radius-bigger);
  background: var(--bg-linear-gradient);
}
.aside-left p,
.aside-right p {
  font-size: var(--p-font-size);
  background: var(--bg-linear-gradient);
}

.map iframe {
  width: 100%;
  height: 35rem;
}

.map > p {
  width: 100%;
  height: auto;
  font-size: var(--p-font-size);
  border-bottom-left-radius: var(--border-radius-smaller);
  border-bottom-right-radius: var(--border-radius-smaller);
  background: var(--bg-linear-gradient);
}

/*---------------------------------------------Asides End */

/*-------------------------------------Middle Sections End*/

/* ----------------------------------------------Main End */

/* ------------------------------------------Footer Start */
footer {
  background: var(--bg-linear-gradient);
  padding: 2rem;
  text-align: center;
  box-shadow: var(--box-shadow);
  margin-top: 2rem;
}

.back-to-top {
  text-decoration: none;
  letter-spacing: 0.2rem;
  font-size: var(--h2-font-size);
  cursor: pointer;
  animation: animation-text 3s infinite ease-in-out;
}

.footer-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  margin: 0.5rem;
}

.footer-links a {
  color: var(--body-color);
  text-decoration: none;
  padding: 0.5rem;
  font-size: var(--h2-font-size);
}

.footer-links a:hover {
  text-decoration: underline;
  transform: scale(0.9);
}

.footer-info {
  font-size: var(--h2-font-size);
  line-height: 1.5;
}

.footer-info p {
  margin: 0.5rem 0;
}
/* --------------------------------------------Footer End */
/*---------------------------------- Gallery Styles Start */

.gallery-item {
  position: relative;
  width: 40%;
}

.gallery-item img {
  height: 100%;
  box-shadow: 0px 0px 20px black;
  border: 2px solid black;
}
.gallery-item:hover {
  box-shadow: 0px 0px 20px white;
}
.caption {
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  width: 100%;
  text-align: center;
  padding: 1rem 0;
  font-size: 2rem;
}
@media screen and (max-width: 768px) {
  .middle-section-news{
   flex-direction: column;
   width: 80%;
  }
  .gallery-item {
    width: 100%;
  }
  .caption {
    font-size: 1.5rem;
  }
  @media screen and (min-width: 2560px) {
    .caption {
      font-size: 3rem;
    }
  }
}
/*---------------------------------- Gallery Styles End */
/* -----------------------------------Media Queries Start */

@media screen and (max-width: 768px) {
  /* Header Start */

  /* Hamburger Menu Styles */
  .hamburger {
    display: flex;
    background-color: var(--bg-color-hamburger);
    align-items: center;
    justify-content: center;
  }

  .hamburger div {
    background-color: var(--body-color);
    width: 2rem;
    height: 0.2rem;
  }

  /* Navbar Buttons Container */
  .navbar-buttons {
    display: none;
    gap: 1rem;
    position: absolute;
    right: 1rem;
    background-color: var(--bg-color-hamburger);
    padding: 1rem;
    border-radius: 1rem;
    z-index: 10;
    width: 15rem;
  }
  .nav-btn {
    color: var(--body-color);
    width: 70%;
    font-size: var(--h6-font-size);
    text-align: center;
  }
  .navbar-buttons.active {
    display: flex;
  }

  /* Search Container Styles */
  .search-container {
    margin-top: 1rem;
    width: 100%;
  }

  .search-input {
    width: 100%;
    height: 2rem;
    font-size: 1rem;
    background-color: transparent;
    border: 1px solid var(--body-color);
    border-radius: 0.5rem;
    color: var(--body-color);
    margin-bottom: 1rem;
  }

  .search-input::placeholder {
    color: var(--body-color);
  }

  .search-container > form > button {
    width: 100%;
    height: 2rem;
    font-size: 1.5rem;
    background-color: var(--bg-color-btn1);
    color: var(--color-btn1);
    border: none;
    border-radius: 0.5rem;
  }

  /* Header End */
  /* Main Start */
  main {
    justify-content: center;
    align-items: center;
  }
  .top-section {
    width: 95%;
  }
  .carousel-container {
    width: 100%;
    order: 1;
    margin-bottom: 3rem;
  }

  .info-location,
  .info-festival {
    width: 100%;
    order: 2;
  }
  .middle-section {
    width: 95%;
    flex-direction: column;
  }
  .center-container {
    width: 100%;
  }
  .video {
    order: -1;
  }
  .card-container {
    order: 2;
  }

  .aside-left,
  .aside-right {
    width: 100%;
    order: 3;
  }
  /* Main End */
}
/* ----------------------------------------------- */
@media screen and (min-width: 2560px) {
  /* Main Start */
  .top-section p,
  .middle-section p,
  footer p,
  .footer-links a {
    font-size: 2.5rem;
  }
  .top-section h2,
  .middle-section h2,
  .middle-section span,
  .back-to-top,
  .card h3 {
    font-size: 3rem;
  }
  .navbar-buttons > button {
    font-size: 4rem;
  }
  .search-input,
  .search-container > form > button {
    height: 4rem;
    font-size: var(--h3-font-size);
  }
  .top-section {
    margin-bottom: 5rem;
  }
  .carousel-container {
    height: 70rem;
  }
  .carousel-slide img.active {
    height: 65rem;
  }
  .carousel-bullets .bullet {
    width: 2rem;
    height: 2rem;
  }
  .carousel-navigation img {
    width: 8rem;
  }
  .info-festival,
  .info-location {
    height: 70rem;
  }
  /* Main End */
}
/* -----------------------------------Media Queries End */
