/* Flex layout for projects */
.project-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 2rem;
    padding: 5rem;
}

/* Each card takes full width up to a max */
.project-card {
    background: var(--main-color);
    padding: 1.5rem;
    border-radius: var(--border-radius-desktop);
    box-shadow: var(--secondary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 1 800px;
    /* grow, shrink, base width */
    max-width: 1000px;
    /* optional for large screens */
    margin-bottom: 2rem;
}

.project-card h3 {
    margin-bottom: 1rem;
    text-align: center;
}

/* Make iframe responsive */
.project-card iframe {
    width: 100%;
    height: 500px;
    padding: 2rem;
    border-radius: var(--border-radius-mobile);
}
@media (max-width: 1024px) {
    .project-grid{
        padding: 0;
        gap: 0;
    }
    .project-card {
        width: 100%;
        padding: 0;
    }

    .project-card iframe {
        height: 500px;
    }

}