main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: var(--background-gradient);
    box-shadow: 10px 10px 10px var(--tertiary-color);
}
.projects-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    margin: 4rem 0;
}

.card {
    max-width: 100%;
    height: auto;
    border-radius: var(--border-radius-mobile);
    margin-bottom: 3rem;
}

.project-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
}


.project-card p {
    text-align: left;
    padding: 0 2rem;
}

@media (max-width: 1024px) {
    .project-card {
        width: 100%;
    }

    .project-card p {
        padding: 0 1rem;
    }
}