body {
    background-color: #01172c;
    background-attachment: fixed;
    margin: 0;
    width: 100%;
    height: 100vh;
}

/*-------------------------------------------------------------------------------------------------------*/
/*header content start*/
#header-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 25px;
    color: #1c91c1;
    margin-bottom: 2%;
    margin-top: 2%;
}

h1 {
    position: relative;
    font-size: 60px;
    -webkit-text-stroke: 1px #FFFFFF;
}

#logo {
    width: 160px;
    height: 150px;
    margin-left: 2%;
    border-radius: 50%;
}


#callUs {
    text-align: center;
    width: 400px;
    margin-right: 15px;
    font-size: 20px;
    color: white;
    box-shadow: 0px 0px 10px white;
    border-radius: 10%;
}

/*header content end*/
/*-------------------------------------------------------------------------------------------------------*/
/*navbar content start*/
#nav-div {
    display: flex;
    flex-wrap: wrap;
    width: 99%;
    margin-left: 8px;
}

.nav-btn {
    flex: 1;
    background-color: #01172c;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2%;
    cursor: pointer;
    box-shadow: 0px 0px 5px white;
}

.nav-btn:hover {
    background-color: #01172c;
}


/*navbar content end*/
/*-------------------------------------------------------------------------------------------------------*/
/*headline content start*/
#headline-div {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #01172c;
    color: white;
    word-wrap: break-word;
    text-align: center;
    width: 30%;
    margin-bottom: 2%;
    margin-left: 6%;
    font-size: 20px;
    border-bottom-left-radius: 20%;
    border-top-right-radius: 20%;
    box-shadow: 0px 0px 20px white;
    align-items: center;
}

#hdln-btn {
    background-color: #01172c;
    color: #FFFFFF;
    height: 30px;
    width: 60%;
    border-bottom-left-radius: 50%;
    border-top-right-radius: 50%;
    cursor: pointer;
    margin-bottom: 2%;
}

#hdln-btn:hover,
.nav-btn:hover {
    box-shadow: 0px 0px 20px white;
}

/*headline content end*/
/*-------------------------------------------------------------------------------------------------------*/
/*reviews content start*/
.web-rated {
    width: 100%;
    color: #FFFFFF;
    font-size: 22px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 2%;
}

.web-content {
    width: 240px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: 30%;
    box-shadow: 0px 0px 10px;
    
}

.img-webcont {
    margin-left: 8%;
    width: 90px;
    height: 60px;
}

.p-webcont {
    font-size: 18px;
    margin-left: 14%;
}

#rvws-div {
    width: 99%;
    background-color: #01172c;
    color: #FFFFFF;
    display: flex;
    flex-wrap: wrap;
    margin-left: 8px;
    margin-bottom: 2%;
    box-shadow: 0px 0px 20px white;
}

.p-services {
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
    text-align: center;
}

.rating {
    text-align: center;
    font-size: 24px;
    margin-bottom: 10px;
    word-wrap: break-word;
}

/* Style the stars in the rating */
.rating::before {
    content: '⭐';
    margin-right: 5px;
    color: gold;
}

.review {
    flex: 1;
    border: 1px solid #ccc;
    padding-bottom: 1%;
    text-align: center;
}

/*reviews content end*/
/*-------------------------------------------------------------------------------------------------------*/
/*sub-headline content start*/
#subHeadline-div {
    color: #FFFFFF;
    margin-bottom: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}

.services {
    background-color: #01172c;
    max-width: 600px;
    max-height: 585px;
    word-wrap: break-word;
    font-size: 14px;
    margin-left: 2%;
    border-radius: 10%;
    text-align: center;
    box-shadow: 0px 0px 10px white;
}

.services :not(p) {
    text-align: left;
}
.image {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid white;
    box-shadow: 0px 0px 10px white;
}

#caption {
    width: 600px;
    word-wrap: break-word;
    text-align: center;
}

/*sub-headline content end*/
/*-------------------------------------------------------------------------------------------------------*/
/*footer content start*/
/* Style for the footer */
#footer-content{
    background-color: #01172c;
    color: #FFFFFF;
    text-align: center;
    margin-left: 8px;
    width: 98vw;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 20px white;
}

#contact-info,
p {
    margin: 0;
}

#footer-links a {
    margin-right: 20px;
    color: gold;
    text-decoration: none;
}

#footer-links a:hover {
    text-decoration: underline;
}


/*footer content end*/
/*-------------------------------------------------------------------------------------------------------*/
#btn-nav-div {
    position: fixed;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    bottom: 100px;
}


.btns-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height:80px;
    cursor: pointer;
    background-repeat: no-repeat;
    border-radius: 50%;
    background-position: center;
    background-size: 83.5px;
}
.btns-nav:hover{
   box-shadow: 0px 0px 20px white;
   transform: scale(1.1);
}
#home-btn{
    background-image: url(/icons/btn-home-icon-trasparent.webp);
}
#curriculum-btn{
    background-image: url(/icons/btn-cv-icon-trasparent.webp);
}
#projects-btn{
    background-image: url(/icons/btn-projects-icon-trasparent.webp);
}

a:hover {
    color: rgb(255, 127, 39);

}
@media screen and (max-width: 846px) and (orientation: portrait) {
    #header-div {
        justify-content: center;
        text-align: center;
    }

    h1 {
        font-size: 30px;
    }
    #callUs{
        margin-left: 5%;
        margin-bottom: 5%;
    }
   
    #nav-div {
        flex-direction: column;
        width: 90vw;
        margin-left: 5%;
        margin-bottom: 5%;
    }
    .services {
        max-width: 600px;
        max-height: 690px;
        margin-bottom: 3%;
        margin-left: 0;
    }

    .btn-cp {
        margin-top: 3%;
    }

    #headline-div {
        width: 95%;
        margin-left: 3%;
        margin-bottom: 5%;

    }
    .web-content{
        width: 30%;
        flex-direction: column;
        margin-bottom: 5%;
    }
    .img-webcont{
        margin-right: 25px;
    }
    .web-content,.p-webcont{
        height: 20%;
        font-size: 0.8em;
    }
    #rvws-div{
        width: 95%;
        margin-left: 3%;
        margin-bottom: 5%;
    }
    #subHeadline-div{
        width: 95%;
        margin-left: 3%;
        margin-bottom: 5%;
    }
    .image,
    #caption {
        width: 95%;
        margin-left: 2%;
        margin-bottom: 5%;
    }

    #footer-links {
        display: flex;
        flex-wrap: wrap;
        font-size: 14px;
        margin-left: 4%;
    }

    #footer-links a {
        margin-right: 0;
        color: gold;
    }
    #btn-nav-div {
        width: 100vw;
        height: 23px;
        top: 90vh;
    }

    .btns-nav {
        background-size: 55px;
        background-position-x: 0;
        background-repeat: no-repeat;
        width: 55px;
        height: 55px;
    }
}

@media screen and (max-width:846px) and (orientation: landscape) {
    #header-div {
        width: 100%;
        font-size: 24px;
        justify-content: center;
        text-align: center;
        margin-bottom: 20px;
    }
    h1{
        font-size: 50px;
    }
    #logo {
        width: 150px;
        height: auto;
        margin: 10px;
    }

    #callUs {
        width: 50%;
        height: 25%;
        font-size: 16px;
        margin-left: 2%;
        font-size: 0.6em;
        margin-bottom: 5%;
    }

    /*header content end*/
    #nav-div {
        margin-right: 2%;
        margin-bottom: 5%;
    }

    .nav-btn {
        width: 100%;
        margin-bottom: 10px;
    }
    .rating {
        font-size: 20px;
        margin-bottom: 10px;
    }

    #headline-div {
        width: 50%;
        margin-left: 25%;
    }

    #hdln-btn {
        margin-bottom: 5%;
    }

    h3,
    h4 {
        font-size: 13px;
    }
    #subHeadline-div {
        width: 95%;
        margin-left: 2%;
    }

    #subHeadline-div,
    #second-subHead-div {
        text-align: center;
        font-size: 13px;
    }

    #rvws-div {
        width: 100vw;
        flex-direction: column;
    }

    .review {
        width: 90%;
        margin-bottom: 5px;
        font-size: 13px;
        margin-left: 5%;
    }

    .web-rated {
        display: flex;
        height: 60px;
        max-width: 100vw;
        flex-direction: row;
    }

    .web-content {
        position: relative;
        height: 50px;
        margin-top: 2%;
        width: 150px;
        justify-content: center;
        flex-direction: column;
    }

    .img-webcont {
        position: absolute;
        bottom: 30%;
        width: 100px;
        height: 40px;
        margin-right: 10%;
    }

    .p-webcont {
        font-size: 13px;
        margin-left: 5%;
        position: absolute;
        top: 60%;
    }

    .p-services {
        width: 80%;
        margin-left: 10%;
    }

    .services {
        width: 100%;
        max-width: none;
        max-height: none;
        margin-bottom: 5%;
        margin-left: 0;
    }

    .btn-cp {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .image {
        width: 90%;
        margin-left: 5%;
    }

    #caption {
        font-size: 12px;
        text-align: center;
    }

    #footer-content{
        height: 50px;
        margin-bottom: 20px;
    }
    #footer-links {
        font-size: 15px;
        justify-content: space-between;

    }

    #footer-links a {
        margin-right: 5%;
        color: gold;
    }

    #contact-info {
        font-size: 15px;
    }

    #copyright {
        font-size: 15px;
    }
    #btn-nav-div {
        width: 99.8vw;
        height: 26px;
        top: 80vh;
    }

    .btns-nav {
        background-size: 55px;
        background-position-x: 0;
        background-repeat: no-repeat;
        width: 55px;
        height: 55px;
    }
    
}
