body {
    background-color: #01172c;
    background-attachment: fixed;
    margin: 0;
    width: 100%;
    height: 100vh;
}

/*-------------------------------------------------------------------------------------------------------*/
/*header content start*/
#header-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 25px;
    color: #1c91c1;
    margin-bottom: 2%;
    margin-top: 2%;
}

h1 {
    position: relative;
    font-size: 60px;
    -webkit-text-stroke: 1px #FFFFFF;
}

#logo {
    width: 160px;
    height: 150px;
    margin-left: 2%;
    border-radius: 50%;
}


#callUs {
    text-align: center;
    width: 400px;
    margin-right: 15px;
    font-size: 20px;
    color: white;
    box-shadow: 0px 0px 10px white;
    border-radius: 10%;
}

/*header content end*/
/*-------------------------------------------------------------------------------------------------------*/
/*navbar content start*/
#nav-div {
    display: flex;
    flex-wrap: wrap;
    width: 99%;
    margin-left: 8px;
}

.nav-btn {
    flex: 1;
    background-color: #01172c;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2%;
    cursor: pointer;
    box-shadow: 0px 0px 5px white;
}

.nav-btn:hover {
    background-color: #01172c;
}


/*navbar content end*/
/*-------------------------------------------------------------------------------------------------------*/
/*headline content start*/
#headline-div {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #01172c;
    color: white;
    word-wrap: break-word;
    text-align: center;
    width: 30%;
    margin-bottom: 2%;
    margin-left: 6%;
    font-size: 20px;
    border-bottom-left-radius: 20%;
    border-top-right-radius: 20%;
    box-shadow: 0px 0px 20px white;
    align-items: center;
}

#hdln-btn {
    background-color: #01172c;
    color: #FFFFFF;
    height: 30px;
    width: 60%;
    border-bottom-left-radius: 50%;
    border-top-right-radius: 50%;
    cursor: pointer;
    margin-bottom: 2%;
}

#hdln-btn:hover,
.nav-btn:hover {
    box-shadow: 0px 0px 20px white;
}

/*headline content end*/
/*-------------------------------------------------------------------------------------------------------*/
/*reviews content start*/
.web-rated {
    width: 100%;
    color: #FFFFFF;
    font-size: 22px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 2%;
}

.web-content {
    width: 250px;
    display: flex;
    align-items: center;
    border-radius: 30%;
    box-shadow: 0px 0px 10px;
    
}

.img-webcont {
    margin-left: 10%;
    width: 100px;
    height: 50px;
}

.p-webcont {
    font-size: 20px;
    
}

#rvws-div {
    width: 99%;
    background-color: #01172c;
    color: #FFFFFF;
    display: flex;
    flex-wrap: wrap;
    margin-left: 8px;
    margin-bottom: 2%;
    box-shadow: 0px 0px 20px white;
}

.p-services {
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
    text-align: center;
}

.rating {
    text-align: center;
    font-size: 24px;
    margin-bottom: 10px;
    word-wrap: break-word;
}

/* Style the stars in the rating */
.rating::before {
    content: '⭐';
    margin-right: 5px;
    color: gold;
}

.review {
    flex: 1;
    border: 1px solid #ccc;
    padding-bottom: 1%;
    text-align: center;
}

/*reviews content end*/
/*-------------------------------------------------------------------------------------------------------*/
/*sub-headline content start*/
#subHeadline-div {
    color: #FFFFFF;
    margin-bottom: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}

.services {
    background-color: #01172c;
    max-width: 600px;
    max-height: 585px;
    word-wrap: break-word;
    font-size: 14px;
    margin-left: 2%;
    border-radius: 10%;
    text-align: center;
    box-shadow: 0px 0px 10px white;
}

.services :not(p) {
    text-align: left;
}
.image {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid white;
    box-shadow: 0px 0px 10px white;
}

#caption {
    width: 600px;
    word-wrap: break-word;
    text-align: center;
}

/*sub-headline content end*/
/*-------------------------------------------------------------------------------------------------------*/
/*footer content start*/
/* Style for the footer */
#footer-content{
    background-color: #01172c;
    color: #FFFFFF;
    text-align: center;
    margin-left: 8px;
    width: 98vw;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 20px white;
}

#contact-info,
p {
    margin: 0;
}

#footer-links a {
    margin-right: 20px;
    color: gold;
    text-decoration: none;
}

#footer-links a:hover {
    text-decoration: underline;
}


/*footer content end*/
/*-------------------------------------------------------------------------------------------------------*/