/* Reset CSS */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  background: linear-gradient(
    to top,
    #00ffff00,
    #00ffff00,
    #00ffff3f,
    #00ffff3f,
    #00ffff3f,
    #00ffff00,
    #00ffff00
  );
  background-color: black;
  display: flex;
  flex-direction: column;
}

/* Variables for Colors and Spacing */
:root {
  /* Header styles */
  --header-padding: 20px;
  --header-bg-color: black;
  --header-color: white;

  /* General styles */
  --gap: 20px;

  /* Styles */
  --main-color: #07f7f7;
  --main-color-opacity: rgba(7, 247, 247, 0.6);
  --border-h2: 1px solid white;
  --width-h2: 100%;
  --font-weight-h2: bold;
  --font-size-h2: 1.2em;
  --border-radius: 25px;
  --font-size-p: 1.2em;
  --height-div: 415px;
  --padding-p: 10px;
  --line-height-p: 25px;

  /* Footer styles */
  --footer-padding: 10px 20px;
}

/* Header styles */
.header-grid {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
  justify-items: center;
}

.header-col-1 {
  width: 50%;
}

.header-col-2 {
  grid-column: span 2;
  width: 100%;
}

.header-col-3 {
  grid-column: span 3;
}

.logo {
  width: 70%;
  height: auto;
  box-shadow: 0px 0px 30px black;
  border-radius: 100%;
}

.title {
  width: 80%;
  height: auto;
}

.nav-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--gap);
}

.button {
  background: transparent no-repeat center/cover;
  width: 13em;
  height: 4em;
  cursor: pointer;
  transition: transform 0.1s ease-in-out;
  border: 0;
}

.nav-buttons .button:hover {
  transform: scale(1.1);
}

.home-btn {
  background-image: url(/images/home-btn.svg);
}

.cv-btn {
  background-image: url(/images/cv-btn.svg);
}

.gallery-btn {
  background-image: url(/images/gallery-btn.svg);
}

.websites-btn {
  background-image: url(/images/sites-btn.svg);
}

/* Main section styles */
.main-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
}

.main-grid > section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: var(--gap);
  background-color: transparent;
  max-width: 100%;
  min-height: 300px;
}

.main-grid > section > h2 {
  border: var(--border-h2);
  width: var(--width-h2);
  text-align: center;
  font-weight: var(--font-weight-h2);
  font-size: var(--font-size-h2);
  border-radius: var(--border-radius) var(--border-radius) 0 0;
  background: black url(/images/bg-label.svg) center / 55em no-repeat;
  color: var(--main-color);
  box-shadow: 0px 10px 15px white;
  margin-bottom: 1em;
  animation: light-h2 6s infinite;
}

@keyframes light-h2 {
  0% {
    box-shadow: 0px 10px 15px rgb(255, 255, 255);
  }
  50% {
    box-shadow: 0px 10px 15px rgba(255, 255, 255, 0.662);
  }
  100% {
    box-shadow: 0px 10px 15px rgb(255, 255, 255);
  }
}

.main-grid > section > div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--gap);
  justify-content: space-around;
  align-items: center;
  font-size: var(--font-size-p);
  overflow-y: auto;
  scroll-behavior: smooth;
  border: 2px solid white;
  box-shadow: 0 0 10px white;
  color: var(--header-color);
  padding: var(--padding-p);
  line-height: var(--line-height-p);
  word-break: break-all;
  width: 100%;
  height: var(--height-div);
  background: black linear-gradient(to bottom, rgba(255, 255, 255, 0.662), rgba(255, 255, 255, 0));
  animation: light-div 6s infinite;
}

@keyframes light-div {
  0% {
    background: rgba(255, 255, 255, 0);
  }
  50% {
    background: rgba(0, 0, 0, 0.662);
  }
  100% {
    background: rgba(255, 255, 255, 0);
  }
}

.main-grid > section > div > img {
  width: 100%;
  transition: transform 0.4s ease-in-out;

}
.main-grid > section > div::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.main-grid > section > div::-webkit-scrollbar-thumb {
  background-color: var(--main-color-opacity);
  border-radius: var(--border-radius);
}

/* Footer styles */
.footer-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
  padding: 10px 20px;
}

.footer-col-1 {
  width: 60%;
}

.footer-col-1 img {
  width: 100%;
}

.footer-col-2 {
  display: flex;
  width: 80%;
  justify-content: space-around;
}

.footer-icon {
  border: 0;
  transition: transform 0.1s ease-in-out;
}

.footer-icon:hover {
  transform: scale(1.1);
}


/* Media Queries */
@media screen and (max-width: 425px) {
  /* Styles for small screens up to 425px width */
  .header-grid {
    grid-template-columns: 1fr;
    margin-bottom: 2em;
    display: block;
  }
  .header-col-1 {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .logo {
    width: 25%;
  }

  .title {
    width: 100%;
  }
  .nav-buttons {
    gap: 0;
  }
  .button {
    width: 10em;
    font-size: 0.5em;
    border: 0;
  }

  .main-grid {
    grid-template-columns: 1fr;
  }
  .main-grid > section {
    padding: 0;
    margin-bottom: 2em;
  }
  .main-grid > section > div {
    justify-content: center;
  }
  .main-grid > section > div > img {
    width: 100%;
  }
  .footer-grid {
    grid-template-columns: 1fr;
    padding: 0;
    margin-top: 1em;
  }

  .footer-col-1 {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 2em;
  }

  .footer-col-1 img {
    width: 70%;
  }
  .footer-col-2 {
    margin-bottom: 2em;
    width: 100%;
  }
  .footer-icon {
    width: 2em;
    border: 0;
  }
}

@media screen and (min-width: 426px) and (max-width: 768px) {
  /* Styles for medium screens from 426px to 768px width */
  .header-grid {
    grid-template-columns: 1fr;
    margin-bottom: 2em;
    display: block;
  }
  .header-col-1 {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .logo {
    width: 15%;
  }

  .title {
    width: 100%;
  }
  .nav-buttons {
    gap: 0;
  }
  .button {
    width: 15em;
    font-size: 0.5em;
    border: 0;
  }

  .main-grid {
    grid-template-columns: 1fr;
  }
  .main-grid > section {
    width: 50%;
    padding: 0;
    margin-bottom: 2em;
  }
  .footer-grid {
    grid-template-columns: 1fr;
    padding: 0;
    margin-top: 1em;
  }

  .footer-col-1 {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 2em;
  }

  .footer-col-1 img {
    width: 50%;
  }
  .footer-col-2 {
    margin-bottom: 2em;
    width: 100%;
  }
  .footer-icon {
    width: 3em;
    border: 0;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  /* Styles for large screens from 769px to 1024px width */
  .header-grid {
    grid-template-columns: 1fr 2fr 1fr;
    margin-bottom: 2em;
  }
  .header-col-1 {
    width: 30%;
  }
  .logo {
    width: 100%;
  }
  .header-col-2 {
    width: 100%;
  }
  .title {
    width: 80%;
  }

  .button {
    width: 13em;
    font-size: 0.5em;
    border: 0;
  }

  .main-grid {
    grid-template-columns: 30% 30% 30%;
    justify-content: space-around;
  }
  .main-grid > section {
    padding: 0;
    margin-bottom: 2em;
  }

  .footer-grid {
    grid-template-columns: 1fr 1fr;
    padding: 0;
    margin-top: 1em;
  }

  .footer-col-1 {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 2em;
  }

  .footer-col-1 img {
    width: 80%;
  }
  .footer-col-2 {
    margin-bottom: 2em;
    width: 100%;
  }
  .footer-icon {
    width: 3em;
    border: 0;
  }
}
@media screen and (min-width: 1025px) and (max-width: 1440px) {
  /* Styles for large screens from 1025px to 1440px width */
  .header-grid {
    grid-template-columns: 1fr 2fr 1fr;
    margin-bottom: 2em;
  }
  .header-col-1 {
    width: 30%;
  }
  .logo {
    width: 100%;
  }
  .header-col-2 {
    width: 100%;
  }
  .title {
    width: 80%;
  }

  .button {
    width: 13em;
    font-size: 0.5em;
    border: 0;
  }

  .main-grid {
    grid-template-columns: 30% 30% 30%;
    justify-content: space-around;
  }
  .main-grid > section {
    padding: 0;
    margin-bottom: 2em;
  }
  .footer-grid {
    grid-template-columns: 1fr 1fr;
    padding: 0;
    margin-top: 1em;
  }

  .footer-col-1 {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 2em;
  }

  .footer-col-1 img {
    width: 80%;
  }
  .footer-col-2 {
    margin-bottom: 2em;
    width: 100%;
  }
  .footer-icon {
    width: 3em;
    border: 0;
  }
}

@media screen and (min-width: 2560px) {
  /* Styles for extra large screens with width greater than 2560px */
  .header-grid {
    grid-template-columns: 1fr 2fr 1fr;
    margin-bottom: 2em;
  }
  .header-col-1 {
    width: 30%;
  }
  .logo {
    width: 100%;
  }
  .header-col-2 {
    width: 100%;
  }
  .title {
    width: 80%;
  }

  .button {
    width: 28em;
    font-size: 0.5em;
    border: 0;
  }

  .main-grid {
    grid-template-columns: 30% 30% 30%;
    justify-content: space-around;
  }
  .main-grid > section {
    padding: 0;
    margin-bottom: 2em;
  }
  .main-grid > section > h2 {
    width: 100%;
    background-size: 55em;
    font-size: xx-large;
  }
  .main-grid > section > div{
    justify-content: center;
    height: 720px;
  }
  .footer-grid {
    grid-template-columns: 1fr 1fr;
    padding: 0;
    margin-top: 1em;
  }

  .footer-col-1 {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 2em;
  }

  .footer-col-1 img {
    width: 80%;
  }
  .footer-col-2 {
    margin-bottom: 2em;
    width: 100%;
  }
  .footer-icon {
    width: 6em;
    border: 0;
  }
}
