@import url(/styles/header-footer-resets.css);


/* Main section */
main {
  /* Set main content to flexbox with centered content and wrapping */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: black;
}

.top-main {
  /* Header section with flex layout, space between items, and horizontal alignment */
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  background: linear-gradient(to right, black, var(--main-color));
  border-top-right-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
  margin-bottom: 5rem;
}

.top-main h5 {
  font-size: 3rem;
}

.middle-main {
  /* Main content section with centered content, gap between items, and padding */
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
}

.middle-main h5 {
  width: 100%;
  font-size: 2.5rem;
  background: linear-gradient(to right, black, var(--main-color));
  border-top-right-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
  text-align: right;
}

.logos-div,
.business-card-div,
.calendars-div {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.logos-content,
.business-card-content,
.calendars-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 5rem;
}

.logos-content img,
.business-card-content img,
.calendars-content img {
  width: 20rem;

}



/* Media Queries */
@media screen and (max-width:768px) {

  .logos-div,
  .business-card-div,
  .calendars-div {
    width: 100%;
  }

  .middle-main h5 {
    text-align: center;
  }
}