@import url(/styles/header-footer-resets.css);

/* ========== Main Section ========== */
main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: var(--tertiary-color);
}

.top-main {
  background: var(--background-color);
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;

  width: 100%;
  margin-bottom: 1rem;
}

.top-main h2 {
  width: 100%;
  text-align: center;
}

/* ========== Middle Main ========== */
.middle-main {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
}

.middle-main h2 {
  width: 100%;
  text-align: center;
}

.icons-div,
.buttons-div {
  display: flex;
  flex-direction: column;
  width: 50%;
  background: var(--background-color);
}

.icons-content,
.buttons-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  gap: 1rem;
}

.icons-content img,
.buttons-content img {
  width: 10rem;
}


/* Media Queries */
@media screen and (max-width:768px) {
  main {
      margin-top: 2rem;
    }
  .icons-div,
  .buttons-div {
    width: 100%;
  }
    .icons-content img,
    .buttons-content img {
      width: 4rem;
    }
}