/* ================== Base Layout ================== */
main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* ================== Middle Main ================== */
.middle-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  width: 100%;
  padding: 1rem;
  background: var(--background-gradient);
}

.middle-main h2 {
  color: var(--info-color);
  margin-bottom: 2rem;
}

/* ==================  Group wrapper ==================*/
.graphic-group {
  width: 100%;
  max-width: 1400px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: var(--border-radius);
  box-shadow: 10px 10px 10px var(--tertiary-color);
  transition: transform 0.3s ease, box-shadow 0.3s ease, background 0.5s ease;
}

.graphic-group:hover {
  transform: translateY(-5px);
  box-shadow:
    0 8px 20px rgba(0, 0, 0, 0.25),
    0 0 15px var(--info-color),
    0 0 30px rgba(255, 255, 255, 0.1);
  background: linear-gradient(135deg,
      var(--tertiary-color) 0%,
      var(--main-color) 40%,
      var(--info-color) 200%,
      var(--tertiary-color) 100%);
}

.graphic-group p {
  background: transparent;
}

/* ================== Grids for icons and buttons ==================*/
.graphic-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
  gap: 1rem;
  justify-items: center;
}

/* ================== Icons & buttons ==================*/
.graphic-grid img {
  width: clamp(40px, 5vw, 100px);
  height: auto;
  display: block;
}

/* ================== Video Section ================== */
.video-grid {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 1rem 0;
}

.video-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: clamp(25rem, 60%, 80rem);
  max-width: 90rem;
  box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.3);
  border-radius: var(--border-radius);
  overflow: hidden;
  background: var(--background-gradient);
  padding: 0.5rem;
}

.video-card img {
  width: 100%;
  height: auto;
  object-fit: contain;
  display: block;
  border-radius: var(--border-radius);
}

.video-img.large {
  display: none;
}

.video-img.standard {
  display: block;
}

@media screen and (min-width: 1440px) {
  .video-img.large {
    display: block;
  }

  .video-img.standard {
    display: none;
  }
}

.video-card a {
  margin: 0.5rem 0;
  color: var(--info-color);
  font-weight: bold;
  font-size: var(--font-size-p);
  text-decoration: none;
  transition: color 0.2s ease, text-decoration 0.2s ease;
}

.video-card a:hover {
  color: var(--secondary-color);
  text-decoration: underline;
}