body {
    background-color: black;
    color: chartreuse;
    margin: 0;
    padding: 0;
}

#projects-div {
    display: flex;
    flex-wrap: wrap;
}

#project1,#project2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 310px;
    height: 300px;
    margin-right: 3px;
}

.img-prj {
    margin-top: 10px;
    width: 100px;
    border-radius: 50%;
    animation: HWlogo 3s infinite;
}
.img-prj:hover{
    transform: scale(1.1);
}
@keyframes HWlogo {
    0% {
        box-shadow: 0px 0px 15px red;
    }

    50% {
        box-shadow: 0px 0px 20px gold;
    }
    100% {
        box-shadow: 0px 0px 15px red;
    }
}
