body {
    background-color: black;
    color: chartreuse;
    margin: 0;
    padding: 0;
}

#projects-div {
    display: flex;
    flex-wrap: wrap;
}

#project1,#project2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 310px;
    height: 300px;
    margin-right: 3px;
}

.img-prj {
    margin-top: 10px;
    width: 100px;
    border-radius: 50%;
    animation: HWlogo 3s infinite;
}
.img-prj:hover{
    transform: scale(1.1);
}
@keyframes HWlogo {
    0% {
        box-shadow: 0px 0px 15px red;
    }

    50% {
        box-shadow: 0px 0px 20px gold;
    }
    100% {
        box-shadow: 0px 0px 15px red;
    }
}
#btn-nav-div {
    position: fixed;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    bottom: 100px;
}


.btns-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height:80px;
    cursor: pointer;
    background-repeat: no-repeat;
    border-radius: 50%;
    background-position: center;
    background-size: 83.5px;
}
.btns-nav:hover{
   box-shadow: 0px 0px 20px white;
   transform: scale(1.1);
}
#home-btn{
    background-image: url(/icons/btn-home-icon.webp);
}
#curriculum-btn{
    background-image: url(/icons/btn-cv-icon.webp);
}
#projects-btn{
    background-image: url(/icons/btn-projects-icon.webp);
}

a:hover {
    color: rgb(255, 127, 39);

}

@media screen and (max-width: 846px) and (orientation: portrait) {
    #btn-nav-div {
        width: 100vw;
        height: 23px;
        top: 90vh;
    }

    .btns-nav {
        background-size: 55px;
        background-position-x: 0;
        background-repeat: no-repeat;
        width: 55px;
        height: 55px;
    }
}
@media screen and (max-width:846px) and (orientation: landscape) {
    #btn-nav-div {
        width: 99.8vw;
        height: 26px;
        top: 80vh;
    }

    .btns-nav {
        background-size: 55px;
        background-position-x: 0;
        background-repeat: no-repeat;
        width: 55px;
        height: 55px;
    }
    
}
