@import url(./header-footer-resets.css);

/* Main container styling */
.main-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Top section styling */
.top-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Middle section styling */
.middle-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.line-up-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    height: 70rem;
}

.line-up-info div {
    background: var(--bg-linear-gradient);
    overflow-y: scroll;

}

.line-up-info h2 {
    width: 100%;
    text-align: center;
    font-size: var(--h2-font-size);
    font-weight: var(--font-weight);
    background: var(--bg-linear-gradient);
    border-top-left-radius: var(--border-radius-smaller);
    border-top-right-radius: var(--border-radius-smaller);
}

.info-p {
    font-size: var(--p-font-size);
    text-align: center;
}

/* Custom scrollbar styles */
.line-up-info div::-webkit-scrollbar {
    width: 0.8rem;
}

.line-up-info div::-webkit-scrollbar-track {
    background: var(--bg-linear-gradient);
}

.line-up-info div::-webkit-scrollbar-thumb {
    background-color: var(--body-color);
    border-radius: var(--border-radius-smaller);
}




@media screen and (max-width: 768px) {

    .middle-section {
        flex-direction: column;
    }

.line-up-info {
    margin-bottom: 5rem;
    width: 100%;
    }
}
