/* Media query to adapt the layout for smartphones */
@media screen and (max-width: 768px) and (orientation: portrait) {
  body {
    position: relative;
    flex-direction: column;

  }

  #head-div {
    height: 70%;
    justify-content: center;
  }

  #page-title {
    width: 95vw;
    height: 20vh;
  }
  .moon {
    width: 50vw;
    top: 15%;
    left: 30%;
  }
  /*-------------------------*/
  .btn-group {
    top: 93vh;
    flex-direction: row;
    flex-wrap: wrap;
    height: 20px;
  }

  .button-cv {
    width: 16vw;
    height: 20px;
    font-size: 0.5em;
    border-radius: 0;
  }
  /*-------------------------*/
  #div-cv {
    width: 97vw;
    bottom: 12%;
    position: relative;
    height: 300px;
    margin-left: 2%;
    bottom: 6%;
  }

  .paragraph-cv {
    width: 97vw;
    color: white;
    overflow: auto;
    height: 170px;
    margin-top:5%;
    font-size: 0.7em;
  }

  .social-icons {
    width: 20px;
    height: 15px;
  }
  #contact-icons a {
    width: 20px;
    height: 20px;
}
  .homepages {
    background-image: url('/icons/homepage2.png');
    width: 30px;
  }

  .mailto {
    background-image: url('/icons/mail2.png');
    width: 30px;

  }

  .whatsapp {
    background-image: url('/icons/whatsapp2.png');
    width: 30px;
  }

  .telegram {
    background-image: url('/icons/telegram2.png');
    width: 30px;
  }

  .phone {
    background-image: url('/icons/phone2.png');
    width: 30px;
  }

  .linkedin {
    background-image: url('/icons/linkedn2.png');
    width: 30px;
  }
}

@media screen and (max-width:768px) and (orientation: landscape) {
  body {
    position: relative;
    flex-direction: column;
    

  }

  #head-div {
    width: 80vw;
    height: 90vh;
  }

  #page-title {
    margin-top: 10vh;
    width: 80vw;
  }

  .moon {
    width: 30vw;
    margin-top: 4%;
    left: 70%;
  }
  /*-------------------------*/
  #div-cv {
    position: absolute;
    top: 14%;
    height: 150px;
    width: 80vw;
  }

  .paragraph-cv {
    height: 150px;
    width: 80vw;
    font-size: 14px;
  }

  .btn-group {
    height: 50px;
    width: 98%;
    top: 77vh;
    flex-direction: row;
    justify-content: space-between;

  }

  .button-cv {
    margin-top: 6%;
    width: 100px;
    height: 30px;
    border-radius: 0;
    font-size: 1em;
  }

  .social-icons {
    width: 30px;
    height: 20px;
  }

}