@import url(/styles/header-footer-resets.css);

/* ========== Main Section ========== */
main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: var(--tertiary-color);
}

.top-main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.top-main h2 {
    width: 100%;
    text-align: center;
    background: var(--background-color);
    color: var(--info-color);
}

/* ========== Middle Main ========== */
.middle-main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
}

.middle-main h3 {
    text-align: center;
    background: var(--background-color);
    padding: 1rem;
}

.middle-main p {
    background: var(--background-color);
    padding: 1rem;
    margin-bottom: 0.5rem;
}

.profile-div,
.experience-div,
.education-div,
.certifications-div,
.technical-skills {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 50%;
}

.experience-div,
.certifications-div {
    align-self: flex-end;
}

/* ========== Media Queries ========== */
@media screen and (max-width: 768px) {
    main {
        margin-top: 2rem;
    }

    .profile-div,
    .experience-div,
    .education-div,
    .certifications-div,
    .technical-skills {
        width: 100%;
    }

    /* Reset align-self for smaller screens */
    .experience-div,
    .certifications-div {
        align-self: auto;
    }
}