/* ==== Mobile-first: 320px ==== */
@media screen and (min-width: 320px) {

    .middle-main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .profile-div,
    .experience-div,
    .education-div,
    .certifications-div,
    .technical-skills {
        width: clamp(90%, 100%, 70rem);
        margin-bottom: 1rem;
    }
}
