@media screen and (min-width: 320px) {

    /* ================== Base Layout ================== */
    main {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    /* ================== Middle Main Section ================== */
    .middle-main {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        background: var(--main-color);
    }


    /* ================== Curriculum Grid ================== */
    .curriculum-grid {
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
        transition: transform 0.3s ease, box-shadow 0.3s ease, background 0.5s ease;
        gap: 2rem;
    }

    /* ================== Curriculum Card ================== */
    .curriculum-card {
        background: var(--main-color);
        border-radius: var(--border-radius-mobile);
        box-shadow: 10px 10px 10px var(--tertiary-color);
        text-align: center;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        width: 100%;
        max-width: 80rem;
        min-height: 200px;
    }

    .curriculum-card:hover {
        box-shadow:
            0 8px 20px rgba(0, 0, 0, 0.25),
            0 0 15px var(--info-color),
            0 0 30px rgba(255, 255, 255, 0.1);
        background: linear-gradient(135deg,
                var(--tertiary-color) 0%,
                var(--main-color) 40%,
                var(--info-color) 200%,
                var(--tertiary-color) 100%);
    }

    .curriculum-card p {
        background: transparent;
        padding: 1rem 2rem;
        margin: 1rem 0;
    }
}

/* ================== Medium Screens >= 768px ================== */
@media screen and (min-width: 768px) {
    .curriculum-grid {
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: stretch;
        margin-bottom: 2rem;
    }

    .curriculum-card {
        flex: 1 1 50%;
        max-width: 45%;
    }

}