/* ========== Responsive Embeds for Tableau & Power BI ========== */

#section2{
    width: 100%;
}
#section3{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}