/* ================== Base Layout ================== */
main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


/* ================== Skills Card ================== */
.skills-container {
  display: flex;
  flex-wrap: wrap;
  gap: clamp(1rem, 2vw, 2rem);
  justify-content: center;
  padding: 2rem;
}

.skill-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background: var(--main-color);
  border-radius: var(--border-radius-mobile);
  box-shadow: 10px 10px 10px var(--tertiary-color);
  transition: transform 0.3s ease, box-shadow 0.3s ease, background 0.5s ease;
  width: clamp(30rem, 20vw, 50rem);
  gap: 1rem;
  text-align: center;
  cursor: pointer;
}

/* ================== Hover Effect ================== */
.skill-card:hover {
  box-shadow:
    0 12px 25px rgba(0, 0, 0, 0.35),
    0 0 15px var(--info-color),
    0 0 30px rgba(255, 255, 255, 0.1);
  background: linear-gradient(135deg,
      var(--tertiary-color) 0%,
      var(--main-color) 40%,
      var(--info-color) 200%,
      var(--tertiary-color) 100%);
}

/* ================== Skill Icons ================== */
.skill-card .skill-icon {
  width: clamp(4rem, 15vw, 20rem);
  height: auto;
  border-radius: var(--border-radius-mobile);
  margin-bottom: 1rem;
  transition: transform 0.3s ease;
}

/* ================== Titles ================== */
.skill-card h3 {
  font-size: var(--font-size-h5);
  color: var(--secondary-color);
  margin-bottom: 0.5rem;
}

/* ================== Paragraphs ================== */
.skill-card p {
  font-size: var(--font-size-p);
  color: var(--info-color);
  background: transparent;
}

/* ================== Smooth Pulse Animation for Icons ================== */
@keyframes pulse {
  0% {
    transform: scale(1.05) rotate(-1deg);
  }

  50% {
    transform: scale(1.15) rotate(2deg);
  }

  100% {
    transform: scale(1.05) rotate(-1deg);
  }
}

.skill-card .skill-icon:hover {
  animation: pulse 1.2s ease-in-out infinite;
}

.click-hint {
  display: block;
}