   /* ================== Base Layout ================== */
   main {
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
   }

   /* ================== Middle Main Section ================== */
   .middle-main {
     display: flex;
     flex-direction: column;
     align-items: center;
     width: 100%;
     background-image: image-set(url('/images/header-bg.svg'));
     background-size: cover;
     background-position: center;
     background-repeat: no-repeat;
   }

   .middle-main h2 {
     width: 100%;
   }

   /* ================== Data Technician Section ================== */
   #section1,
   #section2,
   #section3 {
     display: flex;
     flex-direction: column;
     align-items: center;
     width: 100%;
     margin-bottom: 5rem;
     background: var(--background-gradient);
   }

   #section1 p,
   #section2 p,
   #section3 p {
     width: 80%;
     background: transparent;
   }

   #section1 iframe {
     width: 120rem;
     height: 80vh;
     margin: 5rem auto;
     padding: 1rem;
     border-radius: var(--border-radius);
     box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
     overflow: auto;
   }