/* ================== Base Layout ================== */
main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* ================== Middle Main Section ================== */
.middle-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-image: image-set(url('/images/header-bg.svg'));
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.middle-main h2 {
  width: 100%;
}

/* ================== Data Technician Section ================== */
.excel,
.powerbi,
.tableau {
  width: 80%;
  max-width: 1200px;
  margin: 2rem auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  gap: 2rem;
}

.click-hint {
  display: block;
}

@media screen and (min-width: 320px) {
  body {

    .excel,
    .powerbi,
    .tableau {
      width: 100%;
    }
  }
}