/* Reset CSS */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  background: linear-gradient(
    to top,
    transparent,
    transparent,
    rgba(0, 255, 255, 0.25),
    rgba(0, 255, 255, 0.25),
    rgba(0, 255, 255, 0.25),
    transparent,
    transparent
  );
  background-color: black;
  display: flex;
  flex-direction: column;
}


/* Variables for Colors and Spacing */
:root {
  /* Header styles */
  --header-padding: 20px;
  --header-bg-color: black;
  --header-color: white;
  --gap: 20px;
  --main-color: #07f7f7;
  --main-color-opacity: rgba(7, 247, 247, 0.6);
  --h2-color: white;
  --border-h2: 1px solid white;
  --width-h2: 100%;
  --font-weight-h2: bold;
  --font-size-h2: 1.2em;
  --border-radius: 25px;
  --font-size-p: 1.2em;
  --height-p: 400px;
  --padding-p: 10px;
  --line-height-p: 25px;
  --footer-padding: 10px 20px;
}

/* Header styles */
.header-grid {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
  justify-items: center;
}

.header-col-1 {
  width: 50%;
}

.header-col-2 {
  grid-column: span 2;
  width: 100%;
}

.header-col-3 {
  grid-column: span 3;
}

.logo {
  width: 70%;
  height: auto;
  box-shadow: 0px 0px 30px var(--header-bg-color);
  border-radius: 100%;
}


.title {
  width: 80%;
  height: auto;
}

.nav-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--gap);
}

.button {
  background: transparent no-repeat center/cover;
  width: 13em;
  height: 4em;
  cursor: pointer;
  transition: transform 0.1s ease-in-out;
  border: 0;
}

.nav-buttons .button:hover {
  transform: scale(1.1);
}

.home-btn {
  background-image: url(/images/home-btn.svg);
}

.cv-btn {
  background-image: url(/images/cv-btn.svg);
}

.gallery-btn {
  background-image: url(/images/gallery-btn.svg);
}
.gallery-btn-active {
  background-image: url(/images/gallery-btn-active.svg);
}

.websites-btn {
  background-image: url(../images/sites-btn.svg);
}

/* Main section styles */
.main-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
}
.main-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: stretch;
}

.main-grid > section {
  display: flex;
  flex-wrap: wrap;
  align-self: center;
  padding: var(--gap);
  background-color: transparent;
  max-width: 100%;
 
}

.main-grid > section > h2 {
  border: var(--border-h2);
  width: var(--width-h2);
  text-align: center;
  margin: 0 auto 20px;
  font-weight: var(--font-weight-h2);
  font-size: var(--font-size-h2);
  border-radius: var(--border-radius) var(--border-radius) 0 0;
  background-image: url(../images/bg-label.svg);
  background: black url(../images/bg-label.svg) center / 55em no-repeat;
  color: var(--main-color);
}

.main-grid > section > ul {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  font-size: var(--font-size-p);
  overflow: auto;
  border: 2px solid white;
  box-shadow: 0 0 10px white;
  color: var(--main-color);
  height: var(--height-p);
  padding: var(--padding-p);
  line-height: var(--line-height-p);
  word-break: break-all;
}

.main-grid > section > ul li{
 position: relative;
 margin-left: 1em;
 padding: 1em;
}
.main-grid > section > ul > a > img {
  position: relative;
  width: 100%;
  height: 100%;
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
  background-color: black;
}
.main-grid > section > ul > a{
  height: 6em;
}

.main-grid > section > p::-webkit-scrollbar,
ul::-webkit-scrollbar {
  width: 10px;
}

.main-grid > section > p::-webkit-scrollbar-thumb,
ul::-webkit-scrollbar-thumb {
  background-color: var(--main-color-opacity);
  border-radius: var(--border-radius);
}




/* Footer styles */
.footer-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
  padding: var(--footer-padding);
}

.footer-col-1 {
  width: 60%;
}

.footer-col-1 img {
  width: 100%;
}

.footer-col-2 {
  display: flex;
  width: 80%;
  justify-content: space-around;
}

.footer-icon {
  border: 0;
  transition: transform 0.1s ease-in-out;
}

.footer-icon:hover {
  transform: scale(1.1);
}
/* Media Queries */
@media screen and (max-width: 425px) {

  .header-grid {
    grid-template-columns: 1fr;
    margin-bottom: 2em;
    display: block;
  }
  .header-col-1 {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .logo {
    width: 25%;
  }

  .title {
    width: 100%;
  }
  .nav-buttons {
    gap: 0;
  }
  .button {
    width: 10em;
    font-size: 0.5em;
    border: 0;
  }

  .main-grid {
    grid-template-columns: 1fr;
  }
  .main-grid > section {
    padding: 0;
    margin-bottom: 2em;
  }
  .footer-grid {
    grid-template-columns: 1fr;
    padding: 0;
    margin-top: 1em;
  }

  .footer-col-1 {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 2em;
  }

  .footer-col-1 img {
    width: 70%;
  }
  .footer-col-2 {
    margin-bottom: 2em;
    width: 100%;
  }
  .footer-icon {
    width: 2em;
    border: 0;
  }
}

@media screen and (min-width: 426px) and (max-width: 768px) {
  .header-grid {
    grid-template-columns: 1fr;
    margin-bottom: 2em;
    display: block;
  }
  .header-col-1 {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .logo {
    width: 15%;
  }

  .title {
    width: 100%;
  }
  .nav-buttons {
    gap: 0;
  }
  .button {
    width: 15em;
    font-size: 0.5em;
    border: 0;
  }

  .main-grid {
    grid-template-columns: 1fr;
  }
  .main-grid > section {
    padding: 0;
    margin-bottom: 2em;
  }
  .footer-grid {
    grid-template-columns: 1fr;
    padding: 0;
    margin-top: 1em;
  }

  .footer-col-1 {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 2em;
  }

  .footer-col-1 img {
    width: 50%;
  }
  .footer-col-2 {
    margin-bottom: 2em;
    width: 100%;
  }
  .footer-icon {
    width: 3em;
    border: 0;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .header-grid {
    grid-template-columns: 1fr 2fr 1fr;
    margin-bottom: 2em;
  }
  .header-col-1 {
    width: 30%;
  }
  .logo {
    width: 100%;
  }
  .header-col-2 {
    width: 100%;
  }
  .title {
    width: 80%;
  }

  .button {
    width: 13em;
    font-size: 0.5em;
    border: 0;
  }

  .main-grid {
    grid-template-columns: 1fr 1fr;
  }
  .main-grid > section {
    padding: 0;
    margin-bottom: 2em;
  }
  .footer-grid {
    grid-template-columns: 1fr 1fr;
    padding: 0;
    margin-top: 1em;
  }

  .footer-col-1 {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 2em;
  }

  .footer-col-1 img {
    width: 80%;
  }
  .footer-col-2 {
    margin-bottom: 2em;
    width: 100%;
  }
  .footer-icon {
    width: 3em;
    border: 0;
  }
}

@media screen and (min-width: 2560px) {
  body,
  html {
    background-size: 100vw;
  }
  .header-grid {
    grid-template-columns: 1fr 2fr 1fr;
    margin-bottom: 4em;
  }
  .header-col-1 {
    width: 40%;
  }
  .logo {
    width: 100%;
  }
  .header-col-2 {
    width: 100%;
  }
  .title {
    width: 80%;
  }

  .button {
    width: 30em;
    font-size: 0.5em;
    border: 0;
  }

  .main-grid {
    grid-template-columns: 1fr 1fr 1fr;
  
  }
  .main-grid > section {
    padding: 0;
    margin: 0;
  }
  .main-grid > section > h2 {
    font-size: xx-large;
  }
  .main-grid > section > ul {
    font-size: xx-large;
    min-height: 50vh;
  }
  .footer-grid {
    grid-template-columns: 1fr 1fr;
  }

  .footer-col-1 {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 2em;
  }

  .footer-col-1 img {
    width: 60%;
  }
  .footer-col-2 {
    width: 100%;
  }
  .footer-icon {
    width: 5em;
    border: 0;
  }
}
