/* Reset and box-sizing */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global variables */
:root {
  /* text color */
  --header-text-color: #DCDCDC;

  /* Main color */
  --main-color: rgb(2, 2, 69);

  /* Border radius */
  --border-radius: 2.5rem;

  /* Font size for h1 */
  --font-size-h1: 8vw;

  /* Font size for h2 */
  --font-size-h2: 4vw;

  /* Font size for h3 */
  --font-size-h3: 3.5vw;

  /* Font size for h4 */
  --font-size-h4: 3vw;

  /* Font size for h5 */
  --font-size-h5: 2.5vw;

  /* Font size for h6 */
  --font-size-h6: 1.2vw;

  /* Paragraph font size */
  --font-size-p: 1.2vw;

}

/* Apply color to text in headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--header-text-color);
}

/* Body and HTML */
body,
html {
  background-color: black;
  display: flex;
  flex-direction: column;
  font-family: 'Times New Roman', Times, serif;
  font-size: 62.5%;
}

/*
   Reset styles for img, picture, and iframe elements
   Ensures consistent display and sizing across different browsers
*/
img,
picture,
iframe {
  display: block;
  width: 100%;
  height: auto;
}
/* Header */
.top-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--header-text-color);
  background-color: black;
  background: linear-gradient(to right, black, var(--main-color));
}

.logo {
  width: 20%;
  height: auto;
  background: linear-gradient(to left, black, var(--main-color));
  border-radius: 100%;
}

.title {
  width: 100%;
  height: auto;
  text-align: center;
  font-size: var(--font-size-h2);
  color: var(--header-text-color)
}

/* Navbar */
.cs-navbar {
  float: right;

}
.cs-navbar h6{
  font-size: var(--font-size-h6);
  font-weight: bold;
}


.nav-link {
  display: flex;
  align-items: center;
}

.dropdown-toggle::after {
  color: var(--header-text-color);
  font-size: 2rem;
}

.dropdown-menu {
  background: linear-gradient(to right, black, var(--main-color));
    font-size: 1.5rem;
}

.dropdown-menu a {
  color: var(--header-text-color);
  font-weight: bold;
}

/* Hamburger */
/* Navbar Toggler Icon */
.navbar-toggler {
  border: none;
  /* No border */
  background: transparent;
  /* Transparent background */
  outline: none;
  /* No outline */
  padding: 0;
  /* No padding */
}

/* Custom Hamburger Icon */
.navbar-toggler-icon {
  width: 1.5rem;
  /* Set the width of the icon */
  height: 1.5rem;
  /* Set the height of the icon */
  display: inline-block;
  /* Make the icon inline */
  position: relative;
  /* Position relative for absolute child elements */
  vertical-align: middle;
  /* Align vertically in the middle */
  background-color: var(--main-color);
  /* Blue background color */
  border-radius: var(--border-radius);
  /* Rounded corners */
  cursor: pointer;
  /* Cursor pointer */
}

/* The three hamburger lines */
.navbar-toggler-icon .bar {
  position: absolute;
  /* Position absolutely */
  width: 100%;
  /* Full width */
  height: 0.2rem;
  /* Height of each line */
  background-color: var(--header-text-color);
  /* White color for lines */
  border-radius: 0.4rem;
  /* Rounded corners */
  transition: transform 0.3s ease-out;
  /* Smooth transform transition */
}

/* Positioning for each line */
.navbar-toggler-icon .bar:nth-child(1) {
  top: 0.25rem;
}

.navbar-toggler-icon .bar:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}

.navbar-toggler-icon .bar:nth-child(3) {
  bottom: 0.25rem;
}

/* Style for lines when toggler is active */
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon .bar:nth-child(1) {
  transform: translateY(0.50rem) rotate(45deg);
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon .bar:nth-child(2) {
  transform: scale(0);
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon .bar:nth-child(3) {
  transform: translateY(-0.60rem) rotate(-45deg);
}

/* Footer */
.cs-footer{
background: linear-gradient(to right, black, var(--main-color));
}
.cs-footer h5{
  font-size: var(--font-size-h5);
}
.cs-footer a,.cs-footer p{
  font-size: var(--font-size-p);
}

/* Media Queries */
@media screen and (max-width: 768px) {
  .top-header {
    flex-direction: column;
    background: linear-gradient(to top, black, var(--main-color));
  }

  .logo {
    background: linear-gradient(to top, black, var(--main-color));
  }

  .cs-navbar {
    float: left;
    background: linear-gradient(to left, black, var(--main-color));
  }
.cs-container-fluid {
  position: absolute;
  top: 0;

}
  .dropdown-menu {
    background: linear-gradient(to left, black, var(--main-color));
    width: 20%;
  }

  footer {
    flex-direction: column;
    /* Column layout for footer */
  }

  .footer-img {
    width: 80%;
    /* Image width on smaller screens */
  }
}