/* Global variables */
:root {
  --header-bg-color: black; /* Header background color */
  --header-text-color: white; /* Header text color */
  --main-color: #07f7f7; /* Main color */
  --main-color-opacity: rgba(7, 247, 247, 0.6); /* Main color with opacity */
  --border-radius: 2.5rem; /* Border radius */
  --font-size-h1: 10vw; /* Font size for h1 */
  --font-size-h2: 4vw; /* Font size for h2 */
  --font-size-h3: 3.5vw; /* Font size for h3 */
  --font-size-h4: 3vw; /* Font size for h4 */
  --font-size-h5: 2.5vw; /* Font size for h5 */
  --font-size-h6: 2vw; /* Font size for h6 */
  --font-size-p: 1.5rem; /* Paragraph font size */
  --heading-gradient: linear-gradient(to bottom, #009191, #d0d0d0, #009191); /* Heading gradient */
}

/* Apply gradient to text in headings */
h1, h2, h3, h4, h5, h6 {
  -webkit-background-clip: text; /* Clip the gradient to the text */
  background-clip: text; /* Clip the gradient to the text */
  color: transparent; /* Make the text color transparent */
  background-image: var(--heading-gradient); /* Apply heading gradient */
}

/* Main */
main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Center content */
}

.top-main {
  display: flex;
  flex-wrap: wrap;
  align-self: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 20px; /* Padding around sections */
  background-color: transparent; /* Transparent background */
  width: 100%; /* Section width */
}

.top-main h1 {
  font-size: var(--font-size-h1);
  font-weight: bold;
  word-wrap: break-word;
}

.top-main > h2 {
  font-size: var(--font-size-h2);
  word-wrap: break-word;
}

span {
  color: var(--main-color);
  text-decoration: underline white; /* Underline with white color */
}

.middle-main {
  display: flex;
  flex-wrap: wrap;
  align-self: center;
  justify-content: center;
  flex-direction: row;
  gap: 5rem; /* Gap between sections */
  padding: 20px; /* Padding around sections */
  background-color: transparent; /* Transparent background */
  width: 100%; /* Section width */
}

section {
  width: 30%; /* Section width */
}

.middle-main h5 {
  width: 100%; /* Full width */
  text-align: center; /* Center align */
  background: url(/images/bg-label.svg) center / 55em no-repeat; /* Background with image */
  color: white; /* White text color */
  font-size: 1.5em; /* Heading font size */
  border-radius: var(--border-radius) var(--border-radius) 0 0; /* Border radius */
  box-shadow: 0 10px 15px var(--header-text-color); /* Box shadow */
  margin-bottom: 1rem; /* Bottom margin */
  animation: light-heading 6s infinite; /* Animation */
}

@keyframes light-heading {
  0%, 100% {
    box-shadow: 0 10px 15px white; /* White shadow */
  }
  50% {
    box-shadow: 0 10px 15px rgba(255, 255, 255, 0.662); /* Shadow with opacity */
  }
}

section p, iframe {
  width: 100%; /* Full width */
  text-align: left; /* Left align */
  font-size: var(--font-size-p); /* Font size */
  overflow: auto; /* Overflow handling */
  box-shadow: 0 0 10px var(--header-text-color); /* Box shadow */
  color: var(--header-text-color); /* Text color */
  height: 400px; /* Fixed height */
  word-break: break-all; /* Word break handling */
  padding: 1rem; /* Padding around content */
  background: var(--header-bg-color) linear-gradient(to bottom, rgba(255, 255, 255, 0.662), rgba(255, 255, 255, 0)); /* Background gradient */
  animation: light-p 6s infinite; /* Animation */
}

@keyframes light-p {
  0%, 100% {
    background: rgba(255, 255, 255, 0); /* Transparent background */
  }
  50% {
    background: rgba(0, 0, 0, 0.662); /* Background with opacity */
  }
}

section > p::-webkit-scrollbar, section > ul::-webkit-scrollbar {
  width: 10px; /* Scrollbar width */
}

section > p::-webkit-scrollbar-thumb, ul::-webkit-scrollbar-thumb {
  background-color: var(--main-color-opacity); /* Scrollbar thumb color with opacity */
  border-radius: var(--border-radius); /* Scrollbar border radius */
}

/* Media Queries */
@media screen and (max-width: 768px) {
  main {
    flex-direction: column; /* Stack items vertically on small screens */
  }

  section {
    width: 100%; /* Full width for sections on small screens */
  }
}
