@import url("/styles/header-footer-resets.css");

/* ========== Main section ========== */
main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: var(--tertiary-color);
  margin-top: 1rem;
}

.top-main {
  background: var(--background-color);
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  border-radius: 0 var(--border-radius) var(--border-radius) 0;
  margin: 1rem 0 1rem 0;
}

/* ========== Hero Image ========== */
.hero-img-container {
  position: relative;
  text-align: center;
  color: white;
}

.hero-img {
  width: 100%;
  height: auto;
  opacity: 0.5;
}

.hero-content {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.cta-btn {
  padding: 1rem 2rem;
  background-color: var(--main-color);
  border-radius: var(--border-radius);
  border: 0.1rem solid var(--info-color);
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
  display: inline-block;
  animation: CTA infinite 3s ease-in-out;
}

@keyframes CTA {

  0%,
  100% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.9);
  }
}


/* ========== Middle Main ========== */
.middle-main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.middle-main h2 {
  display: flex;
  justify-content: center;
  width: 100%;
  background: var(--background-color);
  color: var(--info-color);
  margin-bottom: 1rem;
}

/* ========== About me ========== */
.about-me {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 5rem;
  margin-bottom: 1rem;
  border-radius: 0 var(--border-radius) var(--border-radius) 0;
  background: var(--background-color);
}

.about-me p {
  width: 60%;
}

.about-me-p1 {
  margin: 0 0 2rem 5rem;
  width: 105%;
}

.about-me-p2 {
  margin: 0 0 2rem 10rem;
  width: 91%;
}

.about-me-p3 {
  margin: 0 0 2rem 15rem;
  width: 84%;
}

.about-me-p4 {
  margin: 0 0 2rem 20rem;
  width: 85%;
}

.about-me-p5 {
  margin: 0 0 2rem 25rem;
  width: 90%;
}

/* ========== Carousel ========== */

.carousel-item {
  width: 70rem;
}

.carousel-item img {
  width: 40%;
  border-radius: 50%;
  object-fit: cover;
  border: 0.5rem solid var(--info-color);
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: black;
  border-radius: 50%;
  padding: 1rem;

}
/* ========== My tools ========== */
.my-tools {
  padding: 5rem;
  margin-bottom: 5rem;
  overflow: auto;
  border-radius: 0 var(--border-radius) var(--border-radius) 0;
  background: var(--background-color);
}

.my-tools div {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.my-tools p {
  width: 90%;
  overflow: auto;
}

.my-tools img {
  width: 10rem;
}

hr {
  color: var(--secondary-color);
}

/* ========== Technical Details ========== */
.technical-details {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 5rem;
  border-radius: 0 var(--border-radius) var(--border-radius) 0;
  background: var(--background-color);
}

.technical-details p {
  width: 60%;
  margin-bottom: 5rem;
}

.technical-details div {
  display: flex;
}

.technical-img-div {
  display: flex;
  justify-content: space-around;
}

.technical-img-div img {
  width: 20%;
}

/* ========== Media Queries ========== */
@media screen and (max-width:768px) {
  .cs-collapse-navbar {
    border-radius: 0 var(--border-radius) var(--border-radius) 0;
    background: var(--background-color);
  }

  .cta-btn-container {
    width: 20rem;
  }

  .hero-img-container {
    background-size: 100%;
    height: 100%;
  }

  .about-me {
    flex-direction: column-reverse;
    padding: 1rem;
  }

  .about-me p,
  .about-me-p1,
  .about-me-p2,
  .about-me-p3,
  .about-me-p4,
  .about-me-p5 {
    width: 100%;
    margin: 0 0 2rem 0;
  }

  .carousel-item {
    width: 100%;
    margin-bottom: 5rem;
  }

  .my-tools {
    padding: 1rem;
  }

  .my-tools div {
    flex-direction: column-reverse;
  }

  .my-tools a {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .technical-details {
    padding: 1rem;
  }

  .technical-details p {
    width: 100%;
  }
}