@media screen and (min-width: 320px) {

  /* ================== Base Styles ================== */
  main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  /* ================== Middle Main ================== */
  .middle-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-image: image-set(url('/images/header-bg.svg'));
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .middle-main h2 {
    color: var(--info-color);
    margin-bottom: 2rem;
  }

  /* ================== Projects Grid ================== */
  .projects-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    width: 100%;
    padding: 1rem;
  }

  /* ================== Project Card ================== */
  .project-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background: var(--main-color);
    border-radius: var(--border-radius-mobile);
    box-shadow: 10px 10px 10px var(--tertiary-color);
    padding: 1rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease, background 0.5s ease;
    gap: clamp(1rem, 2vw, 5rem);
  }

  .project-card:hover {
    box-shadow:
      0 12px 25px rgba(0, 0, 0, 0.35),
      0 0 20px var(--info-color),
      0 0 40px rgba(255, 255, 255, 0.1);
    background: linear-gradient(135deg,
        var(--tertiary-color) 0%,
        var(--main-color) 40%,
        var(--info-color) 200%,
        var(--tertiary-color) 100%);
  }

  /* ================== Images ================== */
  .project-card img {
    width: clamp(10rem, 20vw, 30rem);
    height: auto;
    border-radius: var(--border-radius);
    margin-bottom: 1rem;
    transition: transform 0.3s ease;
  }

  /* ================== Paragraphs ================== */
  .project-card p {
    background: transparent;
  }


  /* ================== Pulse Animation ================== */
  @keyframes pulse {
    0% {
      transform: scale(1.05) rotate(-1deg);
    }

    50% {
      transform: scale(1.15) rotate(2deg);
    }

    100% {
      transform: scale(1.1) rotate(-2deg);
    }
  }

}

/* ================== Projects Grid Breakpoints ================== */
@media screen and (min-width: 768px) {
  .projects-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1200px) {
  .projects-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* ================== Disable AOS animations on small screens ================== */
@media (max-width: 768px) {
  [data-aos] {
    opacity: 1;
    transform: none;
    transition: none;
    animation: none;
  }
}