/* ================== Base Styles ================== */
main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: var(--tertiary-gradient);
}

/* Middle Section */
.middle-main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
}

.middle-main h2 {
  color: var(--info-color);
}

/* Links & Images */
.middle-main a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.old-cv-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Click Hint Button */
.click-hint {
  display: flex;
  justify-content: center;
  font-size: var(--font-size-p);
  font-weight: 700;
  width: clamp(14rem, 100%, 20rem);
  color: var(--info-color);
  background: var(--background-gradient);
  cursor: pointer;
  box-shadow: 0 0 0.3rem var(--info-color);
  border-radius: var(--border-radius);
  transition: transform 0.3s ease, color 0.3s ease, text-shadow 0.3s ease;
  margin: 1rem 0;
}

.click-hint:hover {
  color: var(--secondary-color);
  text-shadow: 0 0 0.5rem var(--secondary-color), 0 0 0.8rem var(--secondary-color);
  animation: pulse 0.8s ease-in-out infinite alternate;
}

@keyframes pulse {
  0% {
    transform: scale(1.05) rotate(-1deg);
  }

  50% {
    transform: scale(1.15) rotate(2deg);
  }

  100% {
    transform: scale(1.1) rotate(-2deg);
  }
}

/* ================== Portfolio Containers ================== */
.old-portfolio-div,
.glastonbury-div {
  display: flex;
  flex-direction: column;
  flex: 1 1 clamp(20rem, 45%, 38rem);
  margin: 1rem;
  background: var(--background-gradient);
}

.old-portfolio-content,
.glastonbury-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.old-portfolio-content a,
.glastonbury-content a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.old-portfolio-content p,
.glastonbury-content p {
  flex-grow: 1;
  width: 100%;
  margin-top: auto;
  text-align: justify;
}

/* ================== Responsive Columns ================== */
@media screen and (min-width: 768px) {
  .middle-main {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .middle-main img:not(.old-cv-moon) {
    width: 40rem;
  }
  .old-cv-moon {
    width: clamp(20rem, 30vw, 30rem);
  }

}

/* ================== Disable AOS animations on small screens ================== */
@media (max-width: 768px) {
  [data-aos] {
    opacity: 1;
    transform: none;
    transition: none;
    animation: none;
  }
}