@import url(/styles/header-footer-resets.css);

/* ========== Main Section ========== */
main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: var(--tertiary-color);
}

.top-main {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 1rem;
}

.top-main h2 {
  text-align: center;
  width: 100%;
  background: var(--background-color);
  margin-bottom: 0;
}

/* ========== Middle Main ========== */
.middle-main {
  display: flex;
  gap: 1rem;
}

.middle-main h2,
.top-main h2 {
  text-align: center;
  width: 100%;
}

.old-portfolio-div,
.glastonbury-div {
  display: flex;
  flex-wrap: wrap;
  background: var(--background-color);
  width: 100%;
}

.old-portfolio-content,
.glastonbury-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

/* ========== Media Queries ========== */
@media screen and (max-width:768px) {
  main {
    margin-top: 2rem;
  }

  .middle-main {
    display: flex;
    flex-direction: column;
  }

  .old-portfolio-div,
  .glastonbury-div {
    padding: 1rem;
    width: 100%;
  }

  .old-portfolio-content,
  .glastonbury-content {
    flex-direction: column;
    width: 100%;
  }
}